table {
    width: 100%;
    color: whitesmoke;

    border-collapse: collapse; 
    th { padding: 5px 0px; }
    tr td { padding: 7px 0px; }
}

pre {
    background: rgba(39, 40, 46, 1);
    color: whitesmoke;

    padding: 12px 0px 14px 0;
    width: 100%;
    min-width: 900px;
    min-height: 900px;

    line-height: 140%;
    counter-reset: line-numbering;
}

@media only screen and (max-width: 600px) {
    pre {
        min-width: 0px;
    }
}