.join-us-card {
  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;

    h4 { margin: 7px 0px; }
    &__icon { transform: translate(0px, 1px); }
  }

  &__phone-input-wrapper {
    display: flex;
    flex-direction: row;

    // &__phone-input-row {
    //   font-size: 16px;

    //   &__phone-input {
    //     line-height: 31px;
    //     font-size: 16px;
    //   }

    //   &__loader {
    //     transform: translate(0, 1px);
    //   }
    // }
  }

  &__code-input-wrapper {
    display: flex;
    flex-direction: row;

    &__code-input-row {
      font-size: 16px;

      &__code-input {
        line-height: 31px;
        font-size: 16px;
      }

      &__loader {
        transform: translate(0, 1px);
      }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
  }

}