.app {
  height: 100%;
  text-align: center;

  &__nav-banner {
    position: relative;
    padding: 0px 43px;
    padding-right: 35px;
    
    color: rgba(77, 77, 77, 1);
    font-size: 23px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    background-color: whitesmoke;
    min-height: 44px;

    border-bottom: 1px solid rgba(77, 77, 77, 0.4);

    &__title { font-weight: bold; }

    &__icon {
      display: none;
    }
  }

  &__indicator-filter-wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    
    height: calc(100vh - 50px);
    max-width: 344px;
    min-width: 344px;

    padding: 0px 13px;
    padding-right: 5px;
    border-right: 1px solid rgba(77, 77, 77, 0.4);

    background-color: whitesmoke;

    &__indicator-filter { margin-bottom: 34px; }
  }

  &__indicator-mobile-filter-wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    
    max-width: 344px;

    padding: 0px 13px;
    border-right: 1px solid rgba(77, 77, 77, 0.4);

    background-color: whitesmoke;

    &__indicator-filter { margin-bottom: 34px; }
  }

  &__layout {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: start;
  }

  &__rows-table-wrapper {
    max-height: calc(100vh - 50px);
    min-height: 533px;
    width: 100%;

    padding: 0px 21px;
    overflow-y: auto;

    background-color: white;
  }

  @media only screen and (max-width: 600px) {
    &__nav-banner {
      font-size: 19px;
      padding: 0px 19px;

      &__icon {
        display: block;
        transform: translateY(3px);

        font-size: 29px;
      }
    }

    &__indicator-filter-wrapper { display: none; }

    &__rows-table-wrapper {
      max-height: calc(100vh - 50px);
      min-height: 533px;
      width: 100%;
  
      padding: 0px 5px;
      overflow-y: auto;
  
      background-color: white;
    }
  }

}
